.context-easy-checkbox,
.context-easy-radio-buttons {
  display: flex;
  align-items: center;
}

.context-easy-checkbox > div {
  margin-left: 5px;
}

.context-easy-checkbox > input[type=checkbox] {
  margin-left: 0;
}
